
*, *::before, *::after { box-sizing: border-box; }

body{
     font-family: "Noto Sans", sans-serif;
     letter-spacing: 0.05em;
}

p,a,li { 
    line-height: 1.5; 
}

img{
    display: block;
    width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}

// text

.h1,.h2,.h3,.h4,.h5,.h6,.display1,.display2{
    line-height: 1.2; 
    font-weight: 700;
}

.h1{
    font-size: 40px;
}

.h2{
    font-size: 32px;
}

.h3{
    font-size: 28px;
}

.h4{
    font-size: 24px;
}

.h5{
    font-size: 20px;
}

.h6{
    font-size: 16px;   
}

.text-sm{
    font-size: 14px;  
}

.label{
    font-weight: 500; 
}

.display1{
    font-size: 64px;   
}

.display2{
    font-size: 48px;   
}


@media(max-width:768px){

 .h3{
    font-size: 24px;
  }
 
 .h4{
    font-size: 20px;
  }

 .h5{
    font-size: 16px;
}

.display1{
    font-size: 48px;   
}

.display2{
    font-size: 40px;   
}

.h4-md{
    font-size: 24px;
}

.h2-md{
     font-size: 32px;   
}

.h3-md{
    font-size: 28px;
}

.h6-md{
    font-size: 16px;   
}



.h5-md{
    font-size: 20px;
}


 }