<footer class="footer">
  <div class="container padding-64-0">
    <div class="d-flex mb-24 justify-between align-md-start">
      <a class="mb-8" href="index.html"
        ><img class="logo" src="../assets/images/Logo.svg" alt="logo"
      /></a>
      <div class="links-container">
        <a class="link" href="product-list.html">商品列表</a>
        <a class="link" href="about.html">品牌故事</a>
      </div>
    </div>
    <div class="text-center">
      <div class="divider-top mb-32"></div>
      <p class="copyright-text mb-8">Copyright ©2025 URBNSTYLE</p>
      <p class="copyright-text">All Rights Reserved.</p>
    </div>
  </div>
</footer>
