<nav class="d-flex margin-16-auto">
    <a class="d-inline-block mr-48" href="index.html"><img src="../assets/images/Logo.svg" alt="logo" /></a>
  <div class="d-flex flex-1">
    <div class="links-container">
      <a class="link" href="product-list.html">商品列表</a>
      <a class="link" href="about.html">品牌故事</a>
      </div><div class="ml-auto">
      <a href="login.html"><i class="icon-btn bi bi-person"></i></a></i>
    </div>
  </div>
</nav>
