<div class="nav margin-m-auto">
  <h1>
    <a href="index.html"><img src="../assets/images/Logo.svg" alt="logo" /></a>
  </h1>
  <!-- 這邊不確定logo該不該加h1, 加了的話，在page那裡還可以再加h1嗎？-->

  <div class="flex flex-1">
    <div class="links-container">
      <a class="link" href="shop.html">商品列表</a>
      <a class="link" href="about.html">品牌故事</a>
    </div>
    <i class="bi bi-person icon-btn"><a href="#"></a></i>
  </div>
</div>
