<div class="nav">
<h1><a href="index.html"><img src="../assets/images/Logo.svg" alt="logo"></a></h1>
<div class="flex w100">
<div class="navbar">
<a class="link" href="shop.html">商品列表</a>
<a class="link" href="about.html">品牌故事</a></div>
<i class="bi bi-person icon-btn"><a href="#"></a></i>
</div>

</div>