.footer{
  background: $bg;
}

.cta-banner{
  display: flex;
  background: $bg-green-light;
  padding: $spacing-24 0;
  gap: $spacing-24;
  justify-content: center;
  align-items: center;
}

.copyright-text{
     font-size: 14px;   
     color: $text-secondary;
}



@media(max-width:768px){
.footer .container.padding-64-0{
  padding: $spacing-32 $spacing-12;
}

.footer .copyright-text.mb-8{ 
  margin-bottom: $spacing-4;
}

.footer .d-flex{
    flex-direction: column;
}

.footer .links-container{
    flex-direction: column;
    gap: $spacing-4;
    margin-left: $spacing-12;
}


 }

