
.links-container{
    display: flex;
    gap: $spacing-40;   
}

.ml-auto{
    margin-left: auto;
}


@media(max-width:768px){
.margin-16-auto{
    margin: $spacing-12 auto;
}

nav .links-container .link{
    display: none;
}
}