
// flex

.d-flex{
    display: flex; 
}

.d-inline-block{
   display: inline-block; 
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-1{
    flex: 1;
}

.flex-end{
align-items: flex-end;
}

.align-self-end{
align-self: flex-end;
}

.gap-8{
    gap: $spacing-8;
}

.gy-40{
    row-gap: $spacing-40;
}

.gap-24{
    gap: $spacing-24;
}

@media(max-width:768px){ 

.gy-md-24{
    row-gap: $spacing-24;
}


}



// w/h

.w100{
    width: 100%;
}

.w64{
width: 64px;
}

.w120{
  width: 120px;  
}

// spacing

.margin-0-auto{
    margin: 0 auto;
}

.margin-16-auto{
    margin: $spacing-16 auto;
}

.margin-32-0{
    margin: $spacing-32 0;
}

.margin-m-0{
    margin: $spacing-16 0;
}


.margin-48-0{
    margin: $spacing-48 0;
}

.padding-16{
    padding: $spacing-16;
}

.padding-48-0{
    padding: $spacing-48 0;
}

.padding-32-0{
    padding: $spacing-32 0;
}

.padding-64-0{
    padding: $spacing-64 0;
}

.padding-12-0{
    padding: $spacing-12 0;
}

.padding-16-0{
    padding: $spacing-16 0;
}

.padding-32-0{
 padding: $spacing-32 0;
}
@media(max-width:768px){ 
.padding-md-40-0{
    padding: $spacing-40 0;
}
}
.mb-4{
    margin-bottom: $spacing-4;
}

.mb-8{
    margin-bottom: $spacing-8;
}

.mb-12{
    margin-bottom: $spacing-12;
}

.mb-16{
    margin-bottom: $spacing-16;
}

.mb-24{
    margin-bottom: $spacing-24;
}

.mb-32{
    margin-bottom: $spacing-32;
}

.mb-40{
    margin-bottom: $spacing-40;
}

.mb-48{
    margin-bottom: $spacing-48;
}

.mb-56{
    margin-bottom: $spacing-56;
}

.mb-64{
    margin-bottom: $spacing-64;
}

.mr-8{
margin-right: $spacing-8;
}

.mr-12{
margin-right: $spacing-12;
}

.mr-16{
margin-right: $spacing-16;
}

.mr-48{
    margin-right: 48px;
}

.ml-auto{
    margin-left: auto;
}

.mt-auto{
    margin-top: auto;
}

.m-auto{
    margin: auto;
}


.mt-12{
  margin-top: $spacing-12;
}

@media(max-width:768px){

.mb-md-0{
    margin-bottom: 0;
}

.mb-md-4{
    margin-bottom: $spacing-4;
}

.mb-md-8{
    margin-bottom: $spacing-8;
}

.mb-md-12{
    margin-bottom: $spacing-12;
}

.mb-md-16{
    margin-bottom: $spacing-16;
}

.mb-md-24{
    margin-bottom: $spacing-24;
}

.mb-md-32{
    margin-bottom: $spacing-32;
}

.mb-md-40{
    margin-bottom: $spacing-40;
}

.col-6.pr-md-6{ 
    padding-right: 6px;
}

.col-6.pl-md-6{ 
    padding-left: 6px;
}


.col-lg-3.pr-md-8{ 
    padding-right: 8px;
}

.col-lg-3.pl-md-8{ 
    padding-left: 8px;
}


}



// color

.bg-primary-light{
    background: $bg-primary-light;
}

.black{
    color: $text-primary;
}

.primary-color{
    color: $text-green-light;   
}

.deleted{
    color: $gray500;
    text-decoration: line-through;
}

.text-secondary{
    color: $text-secondary;
}

.danger{
    color: $danger;
}

.display-none{ display: none;}

@media(max-width:768px){ 
.display-none{ display: inline-block;}
 }


//text

.text-center{
    text-align: center;
}

.fz-icon{
font-size: 24px;
}

//border

.divider-bottom{
    border-bottom: $border 1px solid;
}
.divider-top{
    border-top: $border 1px solid;
}

//badge

.badge{
    color: $text-green-light;
    background: $bg-primary-light;
    padding: $spacing-8 $spacing-12;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.translate-middle{
  top: 50%;
  left: 50%;   
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.translate-middle-y{
  top: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

//bg-size


//color

.color-primary{
color:$primary ;
}

.color-gray500{
color:$gray500 ;
}

.white{
    color: white;
}

.darken-40{
  filter: brightness(60%);
}



@media(max-width:768px){  
    .col-lg-3.w-md-300{
        width: 324px;
    }

    .overflow-md-auto{  
        overflow: auto;
}
}