
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;

$gray100:#F8F9FA;
$gray300:#DEE2E6;
$gray500:#ADB5BD;
$gray600: #6C757D;
$gray700: #495057;
$gray900:#212529;

$green100: #F5FEE7;
$green200: #E8FEC5;
$green300: #C0FA73;
$green400: #57A203;
$green500: #477A11;

$primary:  $green300;
$secondary: $green200;

$danger: #D74F4F ;

$text-primary:   $gray900;
$text-secondary: $gray600;
$text-highlight: $primary;
$text-negative: white;

$text-green-light: $green400;
$text-green-dark: $green500;

$bg-green-light:$green200;
$bg-green:$green300;
$bg: $gray100;
$bg-black: $gray900;
$bg-darkgray: $gray700;

$border: $gray300;



