
.home-header{
  background: url(/assets/images/home_header-lg.png);
  color: white;
  background-size: cover;
  height: 800px;
}

@media(max-width:768px){ 

  .home-header{ 
      background: url(/assets/images/home_header-sm.png) no-repeat;
      height: 480px; 
      background-size: cover;
      padding:0 $spacing-12;
  }

}


.home-cta-banner{
  background: url(/assets/images/home_cta_banner.png) no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
  margin: $spacing-48 0;
  position: relative;
  background-position: center;
}

.gallery-grid{
  display: grid;
  gap: $spacing-8;
  grid-template-columns: repeat(6, minmax(0, 1fr));

 & .larger{
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media(max-width:768px){ 

.gallery-grid{
 display: flex;  
 gap: $spacing-16;
  overflow-x: auto;
  padding-left: 12px;

  & img{
    width: 300px;
    height: auto;
  }
}
}

.badge{
    color: $text-green-light;
    background: $bg-primary-light;
    padding: $spacing-8 $spacing-12;
}


.position-star{
left:calc(50% - 376px);
top: 68px;
}

.position-sparkle{
right:calc(50% - 340px);
bottom:120px;
}

@media(max-width:768px){ 

.position-star{
left:-24px;
top: 36px;
}

.position-sparkle{
right:-34px;
bottom:104px;
}
 }
