
.home-header{
  background: url(/assets/images/home_header-lg.png);
  color: white;
  background-size: cover;
  height: 800px;
}

@media(max-width:768px){ 

  .home-header{ 
      background: url(/assets/images/home_header-sm.png) no-repeat;
      height: 480px; 
      background-size: cover;
      padding:0 $spacing-12;
  }


}


.home-cta-banner{
  background: url(/assets/images/home_cta_banner.png) no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
  margin: $spacing-48 0;
}

.gallery-grid{
  display: grid;
  gap: $spacing-8;
  grid-template-columns: repeat(6, minmax(0, 1fr));

 & .larger{
    grid-column: span 2;
    grid-row: span 2;
  }

}

@media(max-width:768px){ 

.gallery-grid{
 display: flex;  
 gap: $spacing-16;
  overflow-x: auto;



  & img{
    width: 300px;
    height: auto;
  }



}




}




.position-star{
left:28%;
top: -20%;
}

.position-sparkle{
left: 65%;

}
