
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-8;
}

.gallery-item{
    width: calc((100% - $spacing-8) / 2);
    object-fit: cover;
}

 


.md-display{
    display: none;
}

.ad-card-list{
  display: flex;
  column-gap: $spacing-24;
  margin-top: $spacing-24;
}

.ad-card-item{
  width: calc((100% - 3*$spacing-24) / 4);
}

.img-text-btn{
    color: $text-secondary;

    &:hover img{
    opacity: 0.8;
}

}


.img-text-btn:active img, .img-text-btn:focus img{
    box-shadow: 0 0 0 1px $text-primary;
}

.img-text-btn:active, .img-text-btn:focus{
    color: $text-primary;
}


.text-btn-list{
    display: flex;
    gap: $spacing-8;
    flex-wrap: wrap;
}

.text-btn{
        box-shadow: 0 0 0 1px $border;
        background: none;
        padding: $spacing-12 0;
        width: 160px;

        &:hover,&:focus{
           box-shadow: 0 0 0 1px $text-secondary;         
        }
    }

.text-btn.disabled{
    opacity: 0.4;
} 


.half-width{
  width: calc((100% - $spacing-8) / 2);
}

.save-btn{
    box-shadow: 0 0 0 1px $text-primary;

    .bi-heart-fill{
       display: none;   
    }

    &:focus .bi-heart{
    display: none;
}

    &:focus .bi-heart-fill{
      display: inline;
    }

    &:hover{
    background:$text-primary;
    color: white;
}

}
@media(max-width:992px){ 
 .half-width{ width: auto; }
}




@media(max-width:768px){

.gallery-item{
    width: 100%;
    margin-bottom: $spacing-24;
}

.gallery-list{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.row .col .mb-24{
    margin-bottom: 8px;
}

.row .col .h2 {
    font-size: 24px;
}

.d-flex.margin-m-0.gap-8{
align-items: center;
}

.md-display{
    display: block;
}

.md-display-none{
    display: none;
}

.mb-32.mb-md-32{
margin-bottom: 32px;
}

.gap-8.mb-24.mb-md-24{
    margin-bottom:24px;
}

.padding-48-0.mb-48{
padding: $spacing-40 0;
margin-bottom: $spacing-24;
}

.ad-card-list{
  overflow: auto;
  column-gap: $spacing-16;
  margin-top: $spacing-16;
}

.ad-card-item{
     flex: 0 0 80%;
}


.half-width{
  width: 100%;
}


.save-btn{
    box-shadow: none;

    .bi-heart-fill{
       display: none;   
    }

    &:focus .bi-heart{
    display: none;
}

    &:focus .bi-heart-fill{
      display: inline;
    }

    &:hover{
    background:none;
    color:$text-primary;
}


} 

.container.md-pr-0{
    padding-right: 0;
}


.gallery.col-md-7{
    padding: 0;
}



}