<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="../assets/scss/all.scss"> -->
    <title>index</title>
  </head>
  <body>
    <div class="container">
      <div class="mb-32"><%- include('./layout/nav'); -%></div>
      <nav aria-label="Breadcrumb" class="mb-24">
        <ol class="d-flex">
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="#">首頁</a>
          </li>
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="#">女鞋</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a class="breadcrumb-link current" href="index.html">所有商品</a>
          </li>
        </ol>
      </nav>
      <h3 class="h3 mb-24">女鞋</h3>
      <section class="d-flex mb-48">
        <div class="col-2">
          <ul>
            <li class="padding-12-0">
              <a class="link primary-color" href="#">所有商品 </a>
            </li>
            <li class="padding-12-0"><a class="link" href="#">慢跑鞋 </a></li>
            <li class="padding-12-0"><a class="link" href="#">滑板鞋 </a></li>
            <li class="padding-12-0"><a class="link" href="#">厚底鞋 </a></li>
            <li class="padding-12-0">
              <a class="link" href="#">限定 / 聯名企劃</a>
            </li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="card-list">
            <li class="card-item">
              <a class="card-link" href="product.html">
                <img
                  class="w100"
                  src="../assets/images/shoe_1.png"
                  alt="shoe_1"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_2.png"
                  alt="shoe_2"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_3.png"
                  alt="shoe_3"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_4.png"
                  alt="shoe_4"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_5.png"
                  alt="shoe_5"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_6.png"
                  alt="shoe_6"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_7.png"
                  alt="shoe_7"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_8.png"
                  alt="shoe_8"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_9.png"
                  alt="shoe_9"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
          </ul>
          <div>
            <ul class="pagination">
              <li>
                <a class="pagination-btn disabled" href="#"
                  ><i class="bi bi-chevron-left"></i
                ></a>
              </li>
              <li>
                <a class="pagination-btn selected" href="#">1</a>
              </li>
              <li class="pagination-btn"><a class="black" href="#">2</a></li>
              <li class="pagination-btn"><a class="black" href="#">3</a></li>
              <li class="pagination-btn"><a class="black" href="#">...</a></li>
              <li class="pagination-btn"><a class="black" href="#">10</a></li>
              <li class="pagination-btn">
                <a href="#" class="black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
