<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%- include('./layout/head.ejs'); -%>
    <title>index</title>
  </head>
  <body>
    <div class="container"><%- include('./layout/nav'); -%></div>
    <header class="home-header mb-64 d-flex">
      <div class="container m-auto">
        <h1 class="display1 mb-16">URBNSTEP</h1>
        <h3 class="h3 h5-md mb-48">Your Step, Your Statement</h3>
        <button type="button" class="btn primary-btn">立即選購</button>
      </div>
    </header>
    <main>
      <section class="container">
        <div class="text-center">
          <h2 class="display2 mb-12 mb-md-8">New Arrival</h2>
          <h3 class="h2 h4-md mb-32 mb-md-24">新品上市</h3>
        </div>
        <div class="row gy-40 gy-md-24 mb-64 mb-md-40">
          <div class="col-6 pr-md-6">
            <img
              class="mb-12 mb-md-8"
              src="/assets/images/Product-Card-4.png"
              alt="Product-Card-4"
            />
            <h5 class="h5 mb-4 mb-md-0">Monoverse</h5>
            <p>NT$3,600</p>
          </div>
          <div class="col-6 pl-md-6">
            <img
              class="mb-12"
              src="/assets/images/Product-Card-1.png"
              alt="Product-Card-1"
            />
            <h5 class="h5 mb-4 mb-md-0">PLATFORM 404</h5>
            <p>NT$2,600</p>
          </div>
          <div class="col-6 pr-md-6">
            <img
              class="mb-12"
              src="/assets/images/Product-Card-2.png"
              alt="Product-Card-2"
            />
            <h5 class="h5 mb-4 mb-md-0">URBN Force</h5>
            <p>NT$3,200</p>
          </div>
          <div class="col-6">
            <img
              class="mb-12"
              src="/assets/images/Product-Card-3.png"
              alt="Product-Card-3"
            />
            <h5 class="h5 mb-4 mb-md-0">Mode90</h5>
            <p>NT$4,000</p>
          </div>
        </div>
      </section>
      <section class="mb-64 mb-md-24 padding-64-0 padding-md-40-0">
        <div class="container"><h2 class="h2 h4-md mb-16">熱銷補貨</h2></div>
        <div class="container">
          <div class="row flex-nowrap overflow-lg-auto">
            <div class="col-lg-3 pr-md-8 w-lg-300">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100"
                  src="/assets/images/shoe_4.png"
                  alt="shoe_4"
                />
                <span class="badge position-absolute">人氣 No.1</span>
              </a>
            </div>
            <div class="col-lg-3 pl-md-8 pr-md-8 w-lg-300">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100"
                  src="/assets/images/shoe_1.png"
                  alt="shoe_1"
                />
                <span class="badge position-absolute">人氣 No.1</span>
              </a>
            </div>
            <div class="col-lg-3 pl-md-8 pr-md-8 w-lg-300">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100"
                  src="/assets/images/shoe_7.png"
                  alt="shoe_7"
                />
                <span class="badge position-absolute">人氣 No.1</span>
              </a>
            </div>
            <div class="col-lg-3 pl-md-8 w-lg-300">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100"
                  src="/assets/images/shoe_5.png"
                  alt="shoe_5"
                />
                <span class="badge position-absolute">人氣 No.1</span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="home-cta-banner overflow-hidden">
        <div
          class="d-flex justify-center mb-16 flex-column flex-md-row gx-24 gy-8"
        >
          <h2 class="display2 h2-md">URBNSTEP</h2>
          <span class="display2 color-primary h3-m">x</span>
          <h2 class="display2 h2-md">Kevin Chen</h2>
        </div>
        <h2 class="h2 h4-md mb-32 mb-md-24">跨界聯名，限量發售</h2>
        <div class="d-flex flex-column flex-md-row justify-center">
          <p class="color-gray500 mb-md-4">
            新銳漫畫家 Kevin Chen 親自操刀設計
          </p>
          <p class="color-gray500 d-md-none">，</p>
          <p class="color-gray500 mb-48 mb-md-32">街頭能量全面引爆！</p>
        </div>
        <button type="button" class="btn primary-btn">立即選購</button>
        <span class="position-absolute position-star"
          ><img src="/assets/images/Star.svg" alt="star"
        /></span>
        <span class="position-absolute position-sparkle"
          ><img src="/assets/images/Sparkle.svg" alt="sparkle"
        /></span>
      </section>

      <section class="padding-64-0 padding-md-40-0">
        <div class="container">
          <h2 class="h2 h4-md mb-16">依系列選購</h2>
        </div>
        <div class="container">
          <div class="row gy-md-12 gy-lg-24">
            <div class="col-6 col-lg-3 pr-md-6">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100 darken-40"
                  src="/assets/images/shoe_4.png"
                  alt="shoe_4"
                />
                <div class="position-absolute translate-middle">
                  <p class="h3 mb-8 white h6-md">URBN RUNNER</p>
                  <p class="h3 h6-md text-center white h6-md">慢跑系列</p>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg-3 pl-md-6">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100 darken-40"
                  src="/assets/images/shoe_1.png"
                  alt="shoe_1"
                />
                <div class="position-absolute translate-middle">
                  <p class="h3 h6-md mb-8 white">STREETMODE</p>
                  <p class="h3 h6-md text-center white">滑板系列</p>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg-3 pr-md-6 gx-12">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100 darken-40"
                  src="/assets/images/shoe_7.png"
                  alt="shoe_7"
                />
                <div class="position-absolute translate-middle">
                  <p class="h3 h6-md mb-8 white">CHUNK DISTRICT</p>
                  <p class="h3 h6-md text-center white">厚底系列</p>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg-3 pl-md-6">
              <a href="#" class="position-relative d-flex">
                <img
                  class="w100 darken-40"
                  src="/assets/images/shoe_5.png"
                  alt="shoe_5"
                />
                <div class="position-absolute translate-middle">
                  <p class="h3 h6-md mb-8 white">COLLAB ZONE</p>
                  <p class="h3 h6-md text-center white">聯名企劃</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="padding-64-0 padding-md-40-0 mb-48 mb-md-24">
        <div class="container"><h2 class="h2 h4-md mb-16">穿搭靈感</h2></div>
        <div class="container">
          <div class="gallery-grid">
            <img src="/assets/images/gallery_img_1.png" alt="gallery_img_1" />
            <img src="/assets/images/gallery_img_2.png" alt="gallery_img_2" />
            <img src="/assets/images/gallery_img_3.png" alt="gallery_img_3" />
            <img src="/assets/images/gallery_img_4.png" alt="gallery_img_4" />
            <img
              class="larger"
              src="/assets/images/gallery_img_11.png"
              alt="gallery_img_11"
            />
            <img
              class="larger"
              src="/assets/images/gallery_img_12.png"
              alt="gallery_img_12"
            />
            <img src="/assets/images/gallery_img_5.png" alt="gallery_img_5" />
            <img src="/assets/images/gallery_img_6.png" alt="gallery_img_6" />
            <img src="/assets/images/gallery_img_7.png" alt="gallery_img_7" />
            <img src="/assets/images/gallery_img_8.png" alt="gallery_img_8" />
            <img src="/assets/images/gallery_img_9.png" alt="gallery_img_9" />
            <img src="/assets/images/gallery_img_10.png" alt="gallery_img_10" />
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer-cta'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
