<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%- include('./layout/head.ejs'); -%>
    <title>login</title>
  </head>
  <body>
    <div class="container"><%- include('./layout/nav'); -%></div>
    <div class="padding-64-0 padding-md-0">
      <div class="container">
        <div class="row gap-lg-24">
          <div
            class="col-lg-5 login-banner"
            style="background-image: url(/assets/images/login_banner.png)"
          >
            <div class="d-flex flex-column login-banner-text">
              <h2 class="display2 white mb-16 mb-md-8">URBNSTEP</h2>
              <h3 class="h4 color-gray500 ms-lg-auto h6-md">
                Your Step, Your Statement
              </h3>
            </div>
          </div>
          <div class="col login-form">
            <div class="col h3 mb-32 text-center mb-md-24">歡迎！</div>
            <div class="col mb-32 mb-md-24 row">
              <a href="login.html" class="tab active col text-center"> 登入 </a>
              <a href="register.html" class="tab col text-center"> 註冊 </a>
            </div>
            <button
              type="button"
              class="col d-flex align-center social-login-button mb-8"
            >
              <img
                class="social-icon"
                src="/assets/images/facebook.svg"
                alt="facebook"
              />
              <p>Facebook 登入</p>
            </button>
            <button
              type="button"
              class="col d-flex align-center social-login-button mb-8"
            >
              <img
                class="social-icon"
                src="/assets/images/apple.svg"
                alt="apple"
              />
              <p>Apple 登入</p>
            </button>
            <button
              type="button"
              class="col d-flex align-center social-login-button"
            >
              <img
                class="social-icon"
                src="/assets/images/google.svg"
                alt="google"
              />
              <p>Google 登入</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer-basic'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
