<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
      rel="stylesheet"
    />
    <title>product</title>
  </head>
  <body>

  
    <%- include('./layout/nav'); -%>
           <img
            class="gallery-item md-display"
            src="../assets/images/shoe_1-1.png"
            alt="shoe_1-1"
      />
     <div class="container"> 
    <div class="padding-5xl-0">
      <div class="row">
        <div class="gallery col-md-7 md-display-none">
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-1.png"
            alt="shoe_1-1"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-2.png"
            alt="shoe_1-2"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-3.png"
            alt="shoe_1-3"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-4.png"
            alt="shoe_1-4"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-5.png"
            alt="shoe_1-5"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-6.png"
            alt="shoe_1-6"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-7.png"
            alt="shoe_1-7"
          />
          <img
            class="gallery-item"
            src="../assets/images/shoe_1-8.png"
            alt="shoe_1-8"
          />
        </div>
        <div class="col">
          <nav aria-label="Breadcrumb" class="mb-24">
            <ol class="d-flex">
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="#">首頁</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="index.html">女鞋</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="index.html">滑板鞋</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <a class="breadcrumb-link current" href="index.html"
                  >Platform 404</a
                >
              </li>
            </ol>
          </nav>
          <h2 class="h2 mb-16">Platform 404</h2>
          <div class="d-flex margin-m-0 gap-8">
            <h5 class="h5 primary-color">NT$2,600</h5>
            <p class="deleted">NT$3,200</p></div>

          <div class="mb-32 mb-md-32">
            <p class="mb-12">
              Platform 404
              以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。
            </p>
            <p>
              鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。
            </p>
          </div>
          <p class="mb-8">顏色</p>
          <div class="d-flex gap-8 mb-24 mb-md-24">
            <button class="img-text-btn">
              <div class="mb-8"><img class="w64" src="../assets/images/shoe_1.png" alt="shoe_1" />
              </div>
              <p class="text-center">藍色</p>
            </button>
            <button class="img-text-btn"> 
              <div class="mb-8"><img class="w64" src="../assets/images/shoe_2.png" alt="shoe_2" />
              </div>
              <p class="text-center">卡其色</p>
            </button>
          </div>
          <p class="mb-8">尺寸</p>
          <div class="text-btn-list mb-8">
            <button class="btn text-btn">35(22.5cm)</button>
            <button class=" btn text-btn">36(23.0cm)</button>
            <button class=" btn text-btn">37(23.5cm)</button>
            <button class=" btn text-btn">38(24.0cm)</button>
            <button class=" btn text-btn">39(24.5cm)</button>
            <button class=" btn text-btn">40(25.0cm)</button>
            <button class=" btn text-btn">41(26.0cm)</button>
            <button class=" btn text-btn disabled">42(26.5cm)</button>
            <button class=" btn text-btn disabled">43(27.0cm)</button>
          </div>
          <div class="mb-48"><p class="danger">僅剩 3 雙</p>
          </div>
          <div class="d-flex gap-8 mb-32">
            <button class="btn save-btn half-width">
              <div class="d-flex align-center gap-8 justify-center">
                <i class="bi bi-heart"></i><i class="bi bi-heart-fill"></i>
                加入收藏
              </div>
              </button>
              <button class="btn neutral-btn half-width">
              <div class="d-flex aic gap-8 justify-center">
                <i class="bi bi-handbag"></i>
                門市預約試穿
              </div>
              </button>
        </div>
<ul> 
  <li class="divider-bottom">
  <div class="padding-12-0">
    <div class="mb-4"><p class="label">商品材質</p></div>
    <ul class="text-secondary">
    <li>鞋面：合成皮革（Synthetic Leather）</li>
    <li>內裡：透氣網布材質，提升舒適與排汗性</li>
    <li>鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果</li>
    <li>鞋帶：聚酯纖維，耐拉扯不易鬆脫</li></ul>
  </div></li>
    <li class="divider-bottom">
  <div class="padding-12-0">
    <div class="mb-4"><p class="label">購買須知</p></div>
    <ul class="text-secondary">
    <li>商品顏色因螢幕顯示可能略有差異，請以實品為準。）</li>
    <li>建議首次穿著前試穿確認尺寸，避免影響退換貨權益。</li>
    <li>本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。</li>
</ul>
  </div></li>
    <li class="divider-bottom">
  <div class="padding-12-0">
    <div class="mb-4"><p class="label">保養方式</p></div>
    <ul class="text-secondary">
    <li>建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。</li>
    <li>收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。</li>
    <li>若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。</li>
</ul>
  </div></li>
</ul>
        </div>
      </div>
    </div>
    <div class="padding-48-0 mb-48">
          <h4 class="h4">你可能也喜歡...</h4>
          <ul class="ad-card-list">
            <li class="ad-card-item">
              <a class="card-link" href="product.html">
                <img
                  class="w100"
                  src="../assets/images/shoe_3.png"
                  alt="shoe_3"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="ad-card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_4.png"
                  alt="shoe_4"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="ad-card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_5.png"
                  alt="shoe_5"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="ad-card-item">
              <a class="card-link" href="#">
                <img
                  class="w100"
                  src="../assets/images/shoe_6.png"
                  alt="shoe_6"
                />
                <div class="card-info">
                  <h6 class="h6 black mb-4">PLATFORM 404</h6>
                  <p class="black">NT$2,600</p>
                </div>
              </a>
            </li>
    </div>
    </div>
      <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>


 /* 門市預約試穿 button + 可能會喜歡 Card 